# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.HarmonyRaycast.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\git\_bugs\HarmonyRaycast\.idea\.idea.HarmonyRaycast\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
